@import "../includes/variables";

.job-row {
  Padding: 10px;
  color: $text-dark;
  border-top: 1px solid #dee2e6;

  &:hover {
    background-color: #fafafa;
  }

  h6 {
    color: $primary;
  }

  p {
    color: #868e96;
    margin-top: 5px;
  }

  &:last-child {
    border-bottom: 1px solid #dee2e6;
  }
}

#jobs-form {
  margin-left: 0;
}

.card .card-header {
  background-color: #fff;
  border-bottom: none;
}

.table-responsive {
  font-size: 14px;
  padding: 15px;
}


