/vendor
.idea
/public/templates_c
/public/assets/bootstrap
/public/assets/ChartJs
/public/assets/datatables
/public/assets/fontawesome
/public/assets/jQuery
/public/assets/fonts
/public/assets/Validate
/public/assets/SweetAlert2
/public/assets/ViewerJS