#content .main-content {
    margin: 10px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(43,43,43,0.2);
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.2)
}

form {
    padding: 20px;
}

form .row {
    margin: auto;
}

form .form-control {
    background-color: #F2F7FB;
    font-size: 14px;
}

.formDivider {
    border-bottom: 2px solid darkgrey;
    margin: 20px;
}

form .btn {
    width: 49%;
}