.card {
	border: none;
	border-radius: 0;
	margin: 20px 15px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(43,43,43,0.3);
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.3);
}

.table-responsive {
	font-size: 13px;
	padding: 15px;
}

.table {
	margin: 0;
}

.table tr{
	border-bottom: 1px solid #dee2e6;
}

.table tr:last-child {
	border-bottom: none;
}

.table td, .table th {
	border-top: none;
}

#information {
	padding: 0;
}

#information, #shortlist-status{
	margin: 0;
}

#shortlist-status a {
	color: #fff;
	margin: 0 20px;
}

#shortlist-status a:hover {
	color: #BABFC4;
}

#interview-schedule {
	margin: 5px 0 0 0;
}

#information .card-header {
	padding-bottom: 0px;
}

#information #informationTab {
	border-bottom: none;
}

#interview .badge {
	font-size: 12px;
	font-weight: 500;
}

#scheduleModal .form-row {
	margin-bottom: 5px;
}

#job-offer-card {
	background-color: var(--success);
	margin: 10px 0 0 0;
	text-align: center;
}