@import "../fonts/Poppins-Regular.ttf";

body {
    background-color: #263544;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 100px;
}

.card {
    background-color: transparent;
    text-align: center;
    border: none;
    color: #BABFC4;
}

.card-header {
    background-color: rgba(0,0,0,0);
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid #BABFC4;
}

.card-body .icon {
    font-size: 150px;
    color: #FF595A;
}

.card-body .btn {
    margin-top: 5px;
    border: none;
    color: #fff;
    background-color: #007bff;
}

.card-body .btn:hover {
    color: #fff;
    background-color: #ff595a;
}